<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-button color="danger" style="float: right" (click)="logout()">Logout</ion-button>
            <ion-button color="primary" style="float: right">Miscellaneous</ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="backMisc">

    <ion-button color="primary" expand="block">App Developed by Luis Matias Pierdona</ion-button>

</ion-content>
